In [2]:
import pandas as pd
import numpy as np
from scipy.stats import wilcoxon

# wilcoxon's signed rank test
## paired two sample test
- t-test Paired test의 비모수 버전이라고 생각
- group1 : 물 온도 27도에서의 동물들의 속도
- group2 : 물 온도 24도에서의 동물들의 속도

In [8]:
group1 = [20,34,32,27,31,22,26,24,30,28,27,29]
group2 = [23,34,32,39,33,20,29,28,32,31,26,28]

data = pd.DataFrame({"group1":group1,"group2":group2})
data["diff"] = data["group1"] - data["group2"]
data

    group1  group2  diff
0       20      23    -3
1       34      34     0
2       32      32     0
3       27      39   -12
4       31      33    -2
5       22      20     2
6       26      29    -3
7       24      28    -4
8       30      32    -2
9       28      31    -3
10      27      26     1
11      29      28     1

In [11]:
statistic, pvalue = wilcoxon(group1,group2)

In [13]:
statistic

7.0

In [14]:
pvalue

0.035564379058193644